body
{
    background: #ffffff;
    color: black
}
pre
{
    font-size:0.9em;
    padding-left: 10px;
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
    border: #e7e7e7 1px solid;
    background: #f1f1f1;
    color: black;
}
.code
{
    font-size:0.9em;
    padding-left: 10px;
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
    border: #e7e7e7 1px solid;
    background: #f1f1f1;
    color: black;
}

h3.fn,span.fn
{
    margin-left: 1cm;
    text-indent: -1cm;
}

a:link
{
    color: #6FA013;
    text-decoration: none
}

a:visited
{
    color: #6FA013;
    text-decoration: none
}

br
{
    clear:both;
}

#menu a
{
    display:inline;
}
.sectionlist a,.reflink
{
    font-weight:bold;
}

#propertylist li
{
    width:50%;
    float:left;
}




#classlist
{
    text-align:left;
}
#classlist th
{
    background:#ddd;
}


#modulelist
{
    text-align:left;
}
#modulelist td
{
    padding:5px;
}

.oddeven_0
{
    background:#F0F0F0;
}
.oddeven_1
{
    background:#E4E4E4;
}


a.reflinkblock
{
    font-weight:bold;
    display:block;
    padding:5px;
    margin:-5px;
}



.descimg
{
    border: 1px solid #ddd;
}


.highlight_normal
{
}
.highlight_keywordtype
{
    font-weight:bold;
}
.highlight_stringliteral
{
    color:darkred;
}
.highlight_preprocessor
{
    color:darkgreen;
}
.highlight_keyword
{
    font-weight:bold;
}



.simplesect_note
{
    background:url("note.png") no-repeat;
    border:1px solid #eee;
    padding:3px;
    padding-left:50px;
}

.simplesect_note p
{
}

.simplesect_see
{
    background:url("sa.png") no-repeat;
    border:1px solid #eee;
    padding:3px;
    padding-left:50px;
}
.simplesect_see p
{
}


.simplesect_warning
{
    background:url("warning.png") no-repeat;
    border:1px solid #eee;
    padding:3px;
    padding-left:50px;
}
.simplesect_warning p
{
}


.member_brief
{
    font-size:0.8em;
}


.member
{
    margin-bottom:20px;
    padding:3px;
}

table.desctable 
{
    width:50%;
}

table.desctable p
{
    display:inline;
}
